// colors
$orangeColor: #ff9800;
$redColor: #E91E63;
$greenColor: #009688;
$blueColor: #03A9F4;
$lightGreenColor: #4CAF50;
$grayColor: rgb(158, 158, 158);
$sectionColor: rgba(190, 190, 190, 0.393);
$sectionPadding: 50px 0;

//transition
$trans: .3s;